<% if model.errors.any? %>
  <div class="rounded-md bg-red-50 dark:bg-red-900/20 p-4 mb-6" id="error_summary">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= icon_by_name(:exclamation_triangle, classes: "h-5 w-5 text-red-400 dark:text-red-500") %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800 dark:text-red-300">
          <% model_name = model.class.name.demodulize.underscore.humanize.downcase %>
          <%= pluralize(model.errors.count, 'error') %> prohibited this <%= model_name %> from being saved
        </h3>
        <div class="mt-2 text-sm text-red-700 dark:text-red-400">
          <ul role="list" class="list-disc space-y-1 pl-5">
            <% model.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
